/*shows boxes, delete later*/
* { 
  margin: 0;
  padding: 0;
}

body {
	background-image: url('../../images/bg-image.png');
}
 html { height: 100%; } body { min-height: 100%; }



.story-content {
	height: 600px;
	text-align: center;
	font-size: 7em;
}

.user-content {
	height: 200px;
}


.vertical-center {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}