/*shows boxes, delete later*/
* { 
  margin: 0;
  padding: 0;
  /*border: 0.1px solid rgba(0, 0, 0, 0.3);*/
  word-wrap: break-word;
}

.menu {
	float: left;
  height:100%;
  width:13%;
  position: fixed;
	background-color: #667844;
  margin: 0;
  font-size: 1.4em;
  overflow:hidden;

}
.menu-selection {
	margin: 0 5% 0 5%;
	padding-left: 6px;
	border-style:solid;
	border-width: .5px;
	color:black;
	list-style: none;
}
.menu ul{
	margin: 0 5% 0 5%;
	border-style:solid;
	border-width: 0;
	color:black;
	list-style: none;
	margin-bottom: 6%;
}

.menu ul li {
border-style:solid;
border-width: 0.5px;
padding-left:10%;
color:black;
background-color: #acbe8e;
}

.menu ul li a {
	text-decoration: none;
	text-align: left;
	color:black;
	}

#main_content {
	background-image: url("http://i.imgur.com/C8KeddS.png");
	position: absolute;
	left:13%;
	width: 87%;
	height: 100%;
	float:right;
	background-color: #E7E086;
	margin-left: auto;margin-right: auto;
}

#social_media {
	margin-top: 3%;
}

#sitename {
margin: 2% 5% 0 5%;
color:black;
font-size: 1.2em;
text-align: center;
margin-bottom: 5%;
}

iframe {
	position: absolute;
	top:5%;
	left:20%;
  width:65%; 
  height:65%;
  border-bottom: 1px solid #000;
}


#site_updates{
	margin: 5% 0 0 5%;
}

#page_title {
	font-size: 2em;
	text-align: center;
	margin-bottom: .5em;
}

.post {
	margin: 1% 3% 1% 3%;
}