* { 
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

h1, h2{
	font-size: 56px;
	text-align: center;
}

div {
	height: 700px;
	color: black;
	background-size: cover;
	opacity: 1;
}

#title-area {	text-align: center;
	background-image: url("https://vignette3.wikia.nocookie.net/leagueoflegends/images/4/44/Lux_OriginalSkin.jpg/revision/latest/scale-to-width-down/1000?cb=20160518183431");
	
}

#soundbites {
	background-image: url("https://vignette2.wikia.nocookie.net/leagueoflegends/images/b/be/Lux_SpellthiefSkin.jpg/revision/latest?cb=20160720005304");
}

#trivia {
	background-image: url("https://vignette1.wikia.nocookie.net/leagueoflegends/images/2/25/Lux_ElementalistSkin.jpg/revision/latest?cb=20161115204407");
}

#title-text {

}