/*shows boxes, delete later*/
* { 
  margin: 0;
  padding: 0;
  /*border: 0.1px solid rgba(0, 0, 0, 0.3);*/
  word-wrap: break-word;
}

.menu {
  height:100%;
  width:100%;
  position: fixed;
  background-color: #667844;
  margin: 0;
  font-size: 1.4em;
  overflow:hidden;
}

.menu-selection {
	cursor: pointer;
	margin: 0 5% 0 5%;
	border-style:solid;
	border-width: .5px;
	color:black;
	list-style: none;
	text-align: center;
	/*background-color: #667844;*/
}

.menu-selection a{
	display: block;
	width:100%;
}
.menu ul{
	margin: 0 5% 0 5%;
	border-style:solid;
	border-width: 0;
	color:black;
	list-style: none;
	margin-bottom: 6%;
}

.menu ul li {
border-style:solid;
border-width: 0.5px;
color:black;
background-color: #acbe8e;
}

.menu ul li a {
	text-decoration: none;
	text-align: center;
	color:black;
	display: block;
	width:100%;
	}

.main_content {
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-color: #E7E086;*/
	background-repeat: repeat;
	margin-left: auto;margin-right: auto;
}

#social_media {
	margin-top: 3%;
}

#sitename {
	padding-top: 6%;
	margin: 2% 5% 0 5%;
	color:black;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 5%;
}


a {
	text-decoration: none;
	color:black;
}

.proj-p {
	padding-left: 2em;
}

.proj-p a{
	text-decoration: underline;	
	color: #0000EE;
}

#site_updates{
	margin: 5% 0 0 5%;
}

#left_content_main {
	height:100%;
	width:70%;
	float:left;
}

#right_content_main {
	height:100%;
	width:30%;
	float:right;
	/*Rizna minimalistic no permission to use.
	background-image: url("http://i.imgur.com/z5STUmg.png")*/
	background-image: url('../images/granblue-rosetta.png');
	background-size: 126%;
	background-position: 30% 100%;
	background-repeat: no-repeat;
}

#twitch-stream {
	padding: 2% 0 0 2%;
}

.content-title {
	padding-top:2%;
	text-align: center;
}

table {
	margin: 0 auto;
	width: 90%;
	background-color: #667844;
}

table, td {
	border: 1px solid black;
}

td {
	padding: 0 5px 0 5px;
	background-color: #F0F2F7;
}

#content-summary {
	text-align: center;
}

#content-summary li{
	list-style-type: none;
}

.page-title {
	font-size: 1.3em;
	text-align: center;
	margin-bottom: .5em;
}

.post {
	margin: 1% 3% 1% 3%;
}
